@import "../../../../src/my-theme.scss";

.category-title{
  font-size: 30px;
  margin-left:10px;
  margin-top:30px;
  margin-bottom: 10px;
}

.page-container{
    margin: 0px;
    background-color: $background;
    height: 100%;
    width: 100%;
    // margin-left:30px;
  }

  .content-container{
    background-color: $background;
    height: 100%;
    width: 90%;
    margin-left:30px;
  }
  
  html, body {
    height: 100%;
    scroll-behavior: smooth;
  }
  
  .list-container{
    white-space : nowrap;
    // margin-bottom: 40px;
    // margin-top: 20px;
    margin:0px;
    display:flex;
  }
  
  .delete-button{
    left:10px;
  }

  