@import "../../../../src/my-theme.scss";

.title{
    color: #f8f9fa;
    font-size: 20px;
    padding:3px 32px;
    background-color: $secondary;
    height: 30px;
    width: 100%;
    position: fixed;
    align-items: center;
    margin-bottom: 0px;
    z-index: 1;
  }
  
  .title-spacer{
    height: 30px;
  }