@import '~@angular/material/theming';


$my-theme-primary: mat-palette($mat-light-blue, 900, 700, 300);
$my-theme-accent: mat-palette($mat-deep-orange, 200);
$my-theme-warn: mat-palette($mat-red, A400);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);


$primary: mat-color($my-theme-primary);
$secondary: mat-color($my-theme-primary,700);
$accent: mat-color($my-theme-accent);
$warn: mat-color($my-theme-warn);

$shadow:#00000044;
$background:#e9ecef;
$card-colour:#495057da;
$card-background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23e9ecef' fill-opacity='0.39' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
$inner-card-colour: #6c757d4b;
$off-white:#e9ecef;