<!-- <p>my-ranking-id works!</p>

<h2>Category Items</h2>
<ul>
  <li *ngFor="let item of categoryItems;">
      <span class="badge">{{ item.name }}</span>
      <span class="badge">{{ item.group }}</span>
      <span class="badge">{{ item.order }}</span>
      <span class="badge">{{ item.comment }}</span>
  </li>
</ul> -->

<!-- 

<div class="example-container" cdkDropListGroup>
  <h2>Thriller</h2>
  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of categoryItemsGroups['Thriller']" cdkDrag>
      {{item.name}}
    </div>
  </div>
</div> -->

<!-- <h1>Test</h1>

<div  *ngFor="let list of testArray" >
  <span>{{list.type}}</span>
  
  <div  *ngFor="let item of list.values">
    <span>{{item.name}}</span>
  </div>  
</div> -->


<!-- <div class="example-container" cdkDropListGroup>
  <h1>my lists</h1>
  <div 
    cdkDropList 
    class="example-list" 
    [cdkDropListData]="list" 
    (cdkDropListDropped)="drop($event)"
    *ngFor="let list of categoryItemsGroups">
    <h2>{{list.key}}</h2>
    <div  class="example-box" *ngFor="let item of list.values" cdkDrag >
      {{item.name}} 
    </div>
  </div>
</div> -->

<h1>My data</h1>

<div class="container"> 
  <div cdkDropListGroup>
    <div class="example-container" *ngFor="let list of categoryGroups; let i = index">
        
      <div class="title-container">
        <h1>{{list.name}}</h1>

        <div class="close-icon inline-close-button">
          <button (click)="deleteGroup(list.id, i)">
            <span class="material-icons ">close</span>
          </button>
        </div>

      </div>
        
        <div 
          cdkDropList 
          [cdkDropListData]="list.items" 
          class="example-list" 
          (cdkDropListDropped)="drop($event)">
          <div 
            class="example-box" 
            *ngFor="let item of list.items; let j = index" 
            cdkDrag 
            (click)="onClick($event, item.name)">
  
            <div>
              {{item.name}}
            </div>
            <div class="close-icon">
              <button (click)="deleteItem(i, j, item.id)">
                <span class="material-icons ">close</span>
              </button>
            </div>
          </div>
        </div>
        <div class="input-container">
          <input class="input-box" (keyup.enter)="addNew(addNewInput, list.id, i)" #addNewInput placeholder="New Item">
          <button class="input-button mat-button" (click)="addNew(addNewInput, list.id, i)">Add</button>
        </div>
        
    </div>

  </div>


</div>


<div class="new-group-container">
  <h1 >Add New Group</h1>
  <div class="new-group-input-container">
    <input  class="input-box" #newGroupInput placeholder="New Group" (keyup.enter)="addNewGroup(newGroupInput)">
    <button class="input-button  mat-button" (click)="addNewGroup(newGroupInput)">Add</button>
  </div>
  
</div>


