@import "../../../../src/my-theme.scss";


.page-container{
    margin-top: 0px;
    background-color: $background;
    height: 100%;
    width: 100%;
  }
  
  html, body {
    height: 100%;
    scroll-behavior: smooth;
  }
  
  .list-container{
    white-space : nowrap;
    margin-bottom: 40px;
    margin-top: 20px;
    display:flex;
  }
  