.container{
  display:flex;
  margin-bottom: 20px;
}

.example-container {
  width: 400px;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border:black;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px 15px 10px 15px;
  box-shadow: 2px 2px 3px #888888;
  margin:10px 20px;
  padding: 30px 20px;
  background: white;
  z-index: -1;
  

}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.input-container {
  margin: 20px 30px;
  padding: 10px 10px;
  color: #000000de;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.input-box {
  background: white;
  padding: 10px;

  width:70%;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  margin-right: 2px;
  border-width: 1px;
}

.input-button{
  padding: 2px 2px;

  width:30%;
  display: inline-block;
}

.close-icon { visibility: hidden; }

.example-box:hover > .close-icon {
  visibility: visible;
}


.title-container{
  display:flex;
  justify-content: space-between;
}
.title-container:hover > .close-icon {
  visibility: visible;
}



.new-group-container{
  border:red;
  height:auto;
  width:30%;
  vertical-align: middle;
  align-content: center;
  border-style: solid;
  border-width: 10px;
  padding: 30px 20px;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 4px 4px 6px #888888;
  z-index: 1;
  position: relative;
  background: white;
}

.new-group-input-container{
  display: flex;
  height:auto;


}

.example-handle {
  cursor: move;
  width: 24px;
  height: 24px;
  color: #4e4e4ec7;
}

.inline-container{
  display:inline-block
}
