<h1>These are the top templates designed by others</h1>
<p>These should implement a 'save' button, which adds them to the current user's categories after renaming.</p>
<p>Keep a log of the template and when it was saved. This will allow the retrieval of 'top' aswell as 'trending' </p>

<h2>Top 10</h2>
<app-tile-list >
</app-tile-list>


<!-- <app-tiles>

</app-tiles> -->
<h2>Trending</h2>
<app-tile-list >
</app-tile-list>

<h2>New (top 5 new)</h2>
<app-tile-list >
</app-tile-list>


<h2>Implement save feature</h2>
<app-tile-list >
</app-tile-list>



