
<mat-card class="card hero-card">
    <div class="hero-image">
        <div class="hero-text">
            <h1>Rannc</h1>
            <p>Categorise. List. Rank.</p>
        </div>
    </div>
</mat-card>
<div class="spacer"></div>


<mat-card class="card basic-card">
        <!-- <h2>My Categories</h2> -->
        <div class="card-buttons">
            <button class="card-button" mat-raised-button color="accent"  [routerLink]="'/my-categories'">My Categories</button >    
            <button class="card-button" mat-raised-button color="accent"  [routerLink]="'/top-categories'">Top Categories</button >    
            <button class="card-button" mat-raised-button color="accent"  [routerLink]="'/social'">Social</button >    
        </div>

</mat-card>
