<mat-toolbar color="primary">
      <!-- <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button> -->
      <h1>Rannc</h1>
      <span class="title-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/home'">Home</a>
        <a mat-button [routerLink]="'/my-rankings'">My Rankings</a>
        <a mat-button [routerLink]="'/top-categories'">Top Categories</a>
        <a mat-button [routerLink]="'/social'">Social</a>
        <a mat-button [routerLink]="'/login'">Login</a>
      </div>

  </mat-toolbar>